* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
    background-color: #F3FAF9;
}

.container_body1 {
    margin-top: 39px; 
    margin-left: 135px; 
    margin-right: 135px;
}

.container_body2 {
    margin-top: 39px; 
    margin-left: 135px; 
    margin-right: 135px;
    display: flex;
    justify-content: space-between;
}

#toggle {
text-align: right;
padding: 10px;
background: #353b48;
color: #FFFFFF;
font-size: 20px;
cursor: pointer;
display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav_link {
    display: flex; 
}

.nav_link > li {   
    list-style: none; 
}
.nav_link > li > a {
    text-decoration: none;
    margin-left: 30px;
    color: #5E5C6D;
    font-size: 18px;
    line-height: 30px;
    color: #5E5C6D;
    font-family: 'Regular';
    font-family: 'Inter'
}

.link_eng {
    display: flex;
    list-style: none;   
    float: left; 
}

.link_eng > li> Button { 
    padding: 10px;
    background-color: #226BD0; 
    border: 1px;
    margin-left: 3rem;
}

.link_eng > li> Button > a {
    color: #FFFFFF; 
    font-weight: 'semi-bold';
    text-decoration: none;
}

.link_eng > li:first-child {
    text-decoration: none;
    margin-left: 30px;
    color: #5E5C6D;
    font-size: 18px;
    line-height: 30px;
    color: #5E5C6D;
    font-family: 'Regular';
    font-family: 'Inter'
}

/* ///////////End Nav////////////////// */

.content_nav {
    margin-top: 100px; 
    display: flex;
    justify-content: space-between;
}
.content_nav_text>h2:first-child {
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}
.content_nav_text>h2:nth-child(3) {
    margin-top: -20px; 
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}

.content_nav_text>h2:nth-child(5) {
    margin-top: -20px; 
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}

.content_nav_text>p:nth-child(6) {
    margin-top: 16px; 
    color: #868592; 
    font-size: 20px; 
    line-height: 32px;
}

.login {
    margin-top: 36px; 
    width: 160px; 
    height: 59px; 
    background-color: #226BD0; 
    border: none;
}

.login:hover {
    transform: scale(1.1);
}

.login>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px; 
    line-height: 30px; 
    color: #FFFFFF;
}

.content_nav_amount {
    margin-top: 40px; 
    display: flex;
}

.content_nav_amount1 > p{
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}

.content_nav_amount2 {
    margin-left: 30px;   
}

.content_nav_amount2>p {
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}

.content_nav_amount3 {
    margin-left: 30px;   
}
.content_nav_amount3>p {
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}

/* ///////end content_nav//////////////// */

.search {
    width: 870px; 
    height: 155px; 
    border: 10px solid rgb(254, 253, 253); 
    box-shadow: 5px 5px 5px rgb(224, 224, 220);
    background-color: #FFFFFF;
    box-shadow: #ebe8f8;
    position: relative;
    z-index: 5;  
    margin: 0 auto;
}


.search_price > h2 {
    margin-top: 2rem; 
    margin-left: 5rem; 
    font-weight: 'SemiBold'; 
    color: #182E4E; 
    line-height: 30px; 
    width: 500px;
}
.select {
    margin-left: 5rem; 
    margin-top: 0.5rem; 
    
}

#author_id {
    width: 200px; 
    height: 49px;
    background-color:#F3FAF9; 
    font-size: 16px; 
    line-height: 28px; 
    color: #2B2626;
    padding-left: 30px;
}
.search_price_button {
    height: 49px;
    background-color:#226BD0; 
    border: none;
    width: 140px; 
}
.search_price_button > a {
    font-size: 16px; color: #FFFFFF;
    text-decoration: none;
}

/* //////////////end Search///////////////// */

.fetures {
    background-color: white; 
    width: 100%;
    margin-top: -80px;
    z-index: 1;
    position: relative;
    padding-top: 150px;
}

.title_fetures {
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 40px; 
    line-height: 50px; 
    font-weight: 'SemiBold';
}
.reason_1 {
    display: flex;
    margin-top: 40px;
}
.reson_detail1 {
    margin-left: 50px;
}
.reson_detail1 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}

.reson_detail1 > p {
    color: #868592; 
    font-size: 18px;    
    line-height: 25px;
}

.reason_2 {
    display: flex;
    margin-top: 40px;
}
.reson_detail2 {
    margin-left: 50px;
}
.reson_detail2 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}

.reson_detail2 > p {
    color: #868592; 
    font-size: 18px;    
    line-height: 25px;
}
.reason_3 {
    display: flex;
    margin-top: 40px;
}
.reson_detail3 {
    margin-left: 50px;
}
.reson_detail3 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}

.reson_detail3 > p {
    color: #868592; 
    font-size: 18px;    
    line-height: 25px;
}

.img_Fetures_4865 {
    float: left;
    position: absolute;
    z-index: 2;

}

.img_Fetures_4866 {
    z-index: 3;
    position: relative;
    right: 180px; top: 40px;
}

/* //Endfeature///////////////// */

.popular {
    background-color: white; 
    width: 100%;
    height: 100px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    height: 250px;

}

.container_body3 {
    margin-left: 135px; 
    margin-right: 135px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.popular > .container_body3 > h1 {
    font-size: 30px; 
    line-height: 50px; 
    color: #182E4E; 
    font-weight: 'semiBold';
}

.popular > .container_body3 > p {
    font-size: 16px; 
    color: #868592; 
    line-height: 26px;
}

.group_arrow_before {
    padding-right: 10px;
    padding-left: 5px;
}

.group_arrow_after {
    background-color: #226BD0;
    padding-left: 10px;
    padding-right: 5px;
}

/* //Endpopular////////////// */
.popular_price {
    background-color: #FFFFFF;
    width: 100%;
}

.container_body4 {
    margin-left: 135px; 
    margin-right: 135px; 
    display: flex;
    justify-content: space-between;
}

.popular_content1 {
    border: 10px solid rgb(254, 253, 253); 
    box-shadow: 5px 5px 5px rgb(224, 224, 220);
}

.popular_content1 > h4 {
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 22px; 
    line-height: 32px; 
    font-family: 'SemiBold'; 
    margin-top: 10px;
}

.popular_content1 > h4 > a {
    text-decoration: none;
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 22px; 
    line-height: 32px; 
    font-family: 'SemiBold'; 
    margin-top: 10px;
}

.popular_content1 > a {
    font-size: 11; 
    color: #868592; 
    font-family: 'Poppins'; 
    line-height: 23px; 
    margin-top: 10px;
    text-decoration: none;
}
.room {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.group_room1 {

    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}
.group_room1_img {
    display: flex;
    padding-top: 10px;
}
.group_room1 >a  {
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
    text-decoration: none;
}
.group_room1_img>a:nth-child(2) { 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600;
    margin-left: 10px;   
    text-decoration: none;
}

/* ///// */
.group_room2 {
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}

.group_room2 > a:first-child {
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
    text-decoration: none;
}
.group_room2 > p { 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600; 
    padding-top: 10px;
}

.group_room2 > p > a{ 
    text-decoration: none;
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600; 
    padding-top: 10px;
}

.group_room3 {
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}

.group_room3 >a:first-child {
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
    text-decoration: none;
}
.group_room3 > p { 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600; 
    padding-top: 10px;
}

.group_room3 > p > a{ 
    text-decoration: none;
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600; 
    padding-top: 10px;
}
/* //endPopularPrice// */

.security_paragraph {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 00px;
    padding-top: 100px;
}

.container_body5 {
    margin-left: 135px; 
    margin-right: 135px; 
    display: flex; 
    justify-content: center;
    
}

.container_body5 > .security_paragraph_wrap {
    text-align: center;
}

.security_paragraph_wrap > h3:first-child, h3:nth-child(2) {
    font-size: 40px; 
    line-height: 50px; 
    color: #182E4E; 
    font-family: 'Poppins'; 
    font-style: 'SemiBold';
}

.security_paragraph_wrap > p {
    font-size: 18px; 
    line-height: 30px; 
    color: #868592; 
    font-family: 'Inter'; 
    margin-top: 20px;
}
/* ///EndSecurityPẩgrap//////// */

.security_extra { 
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container_body6{
    margin-left: 135px; 
    margin-right: 135px;
    display: flex;
    justify-content: space-between;    
}

.security_extra_detail >h1 {
    font-size: 36px; 
    line-height: 46px; 
    font-style: 'SemiBold'; 
    color: #182E4E; 
    margin-top: 6px;
}
.security_extra_detail >p {
    font-size: 18px; 
    line-height: 30px; 
    color: #868592; 
    margin-top: 20px;
}
.security_extra_detail > button {
    margin-top: 40px; 
    background-color: #226BD0; width: 169px;
    height: 51px; border: none;
}
.security_extra_detail > button >a {
    font-size: 18px; 
    line-height: 28px;
    font-style: 'SemiBold'; 
    color: #FFFFFF;
    text-decoration: none;
}

/* Endsecurity_extra_detail//// */
.container_body7 {
    margin-left: 135px; 
    margin-right: 135px;
}

.container_body7 > h1 {
    padding-top: 50px; 
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold'; 
    color: #182E4E;
}

.image-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.image-item1 {
    display: flex;
}
.information_reviewer {
    margin-left: 30px;
}
.information_reviewer > h3 {
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold'; 
    color: #182E4E
}

.information_reviewer > p {
    font-size: 18px; 
    line-height: 30px; 
    font-family: Regular; 
    color: #868592; font-style: 'Inter';
}

.information_reviewer > li {
    font-size: 18px; 
    line-height: 30px; 
    font-family: 'SemiBold'; 
    color: #182E4E; 
    font-style: 'Inter'; 
    font-weight: 600
}
/* ///EndAdress///////// */
.address {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 100px;   
}

.container_body8 {
    padding-top: 100px;
    margin-left: 135px; 
    margin-right: 135px;
}

.address > .container_body8 > .wrap  {
    background-color: #2B3F65; height: 391px;
}

.address > .container_body8 > .wrap > h1 {
    display: flex; 
    justify-content: center; 
    padding-top: 100px; 
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold'; 
    font-style: 'Poppins'; 
    color: #FFFFFF;
}

.address > .container_body8 > .wrap > p {
    display: flex; 
    justify-content: center; 
    padding-top: 20px; 
    font-size: 18px; 
    line-height: 30px;                    
    font-family: 'Regular'; 
    font-style: 'Inter'; 
    color: #E0DEDE;
}

.address_submit_group  {
    text-align: center;
}
.address_submit_group > form > input {
    width: 509px; 
    height: 79px; 
    margin-top: 30px;
    padding-left: 30px;
}

.address_submit_group > form > button {
    height: 79px;
    width: 150px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
/* ///endAddress/////// */

.footer {
    width: 100%;
    background-color: #FFFFFF;
}
.container_body9 {
    padding-top: 100px;
    margin-left: 135px; 
    margin-right: 135px;
}
.service > ul {
    display: flex; float: right
}
.logo > p {
    font-size: 20px; 
    line-height: 30px; 
    font-family: 'Regular'; 
    font-style: 'Inter'; color: #736868; 
    margin-top: 20px
}
.icons > ul {
    display: flex; float: right;
}
.service > ul > li{
    list-style: none;
    margin-left: 30px;
}

.service > ul {
    margin-top: -100px;
    font-size: 20px;
    line-height: 30px;
    color: #736868;
    font-family: 'Regular';
}
.method > li > a {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #736868;
    font-family: 'Regular';
}
.icons > ul > li{
    list-style: none;
    margin-left: 30px;
}

.icons > ul {
    margin-top: -50px;
}

@media only screen and (max-width: 385px) {
    #toggle {
        display: block;
    }
    .navbar {
        display: none;
        background-color: #FFFFFF;
        height: 400px;
        margin: 0 auto;
    }
    .container_body1 > .navbar {
        margin: 0 auto;
    }
    .navbar > img{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .nav_link {
        display: block;
    }
    .navbar > .nav_link > li {
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
    .link_eng {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 30px;
    }
    .link_eng >li:nth-child(2) { 
        margin-left: -20px;
    }
    .left, .right{
        float: none;
        width: 100%;
    }
    .container_body1 {
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        width: 100%;
        /* display: flex;
        justify-content: center */
    }
    .content_nav {
        max-width: 100%;
        display: table;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        margin: auto;
    }
    .content_nav_text {
        display: table;
        text-align: center;
        /* justify-content: center; */
    }
    .content_nav_text > h2:first-child {
        font-size: 45px;
        font-weight: 600;
    }
    .content_nav_text > h2:nth-child(3) {
        font-size: 45px;
        font-weight: 600;
        margin-top: -30px;
    }
    .content_nav_text > h2:nth-child(5) {
        font-size: 35px;
        font-size: 45px;
    }
    .content_nav_text > p:nth-child(6) {
        font-size: 14px;
        font-weight: 600;
    }
    .content_nav_amount {
        text-align: center;

    }
    .content_nav_amount1 > img{
        width: 70px;
    }
    .content_nav_amount1 >p {
        margin-top: 5px;
        font-size: 15px;
    }
    .content_nav_amount2 > img{
        width: 70px;
    }
    .content_nav_amount2 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_amount3 > img{
        width: 70px;
    }
    .content_nav_amount3 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_img > img{
        width: 276px;
        margin-top: 10px;
    }
    .search {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 330px;
        width: 100%;
        margin-top: 50px;
    }

    .search_price {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .search_price > h2 {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin:  auto;
        display: inline-block;
        width: 90%;
        /* margin-left: -31%; */
    }
    .select{
        display: block;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
    }
    #author_id {
        margin-bottom: 20px;
    }
    .select {
        padding-right: none;
    }

    .fetures {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -50px;
        display: block;
    }
    .fetures >.container_body2 {
        display: block;
        justify-content: center;
        text-align: center;
        clear: both;
        margin: 0 auto;
        width: 100%;
    }
    .wrap {
        align-items: center;
        text-align: center;
        justify-content: center;
        clear: both;
        margin: 0;
        clear: both;
    }
    .title_fetures {
        text-align: center;
        display: inline-block;
        align-items: center;
        justify-content: center;
        /* margin-left: -40%; */
        clear: both;
        margin:  auto;
    }
    .reason_1 {
        display: flex;
    }
    .reason_1 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail1 {
        margin-left: 30px;
    }
    .reson_detail1 > h3 {
        font-size: 30px;
    }
    .reson_detail1 > p {
        font-size: 20px;
    }
    /* //////// */
    .reason_2 {
        display: flex;
    }
    .reason_2 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail2 {
        margin-left: 30px;
    }
    .reson_detail2 > h3 {
        font-size: 30px;
    }
    .reson_detail2 > p {
        font-size: 20px;
    }
    /* ////////////////// */
    .reason_3 {
        display: flex;
    }
    .reason_3 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail3 {
        margin-left: 30px;
    }
    .reson_detail3 > h3 {
        font-size: 30px;
    }
    .reson_detail3 > p {
        font-size: 20px;
    }
    .img_fetures {
        display: block;
        width: 100%;
    }
    .popular {
        display: block;
        width: 100%;
        height: 100px;
        color: #FFFFFF;
        margin-bottom: 0;
        padding-top: 50px;
        padding-bottom: 200px;
    }
    .popular > .container_body3 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    } 

    .popular > .container_body3>h1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .popular > .container_body3>p {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .group_arrow {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }
    .group_arrow_before {
        margin-right: 20px;

    }
    .popular_price {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .popular_price > .container_body4 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    } 
    .popular_content1 {
        padding-bottom: 40px;
    }
    .security_paragraph {
        margin-top: -10px;
    }
    .container_body5 {
        width: 100%;
        margin: 0 auto;
    }

    .container_body6 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .container_body6 > .security_extra_detail > button {
        margin-bottom: 50px;
    }
    .container_body7 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-slider {
        display: block;
    }
    .image-item1 {
        display: block;
        margin-bottom: 50px;
    }
    .address {
        margin-top: -50px;
    }
    .container_body8 {
        width: 100%;
        margin: 0 auto;
    }
    .address_submit_group > form > input {
        width: 70%;
    }
    .address_submit_group > form > button {
        width: 20%;
        border: none;
    }
    .footer {
        height: 500px;
    }
    .container_body9 {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .logo {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .service {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .service > .method {
        display: inline-block;
        display: table-column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 50px;
        width: 100%;
    }
    .service > .icons > ul  {
        margin-top: 200px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: inline-flex;
        justify-content: center;

    }
    .service > .icons > ul > li {
        text-align: center;
    }
}

/* //////////////////////////////////////////////////// */
@media only screen and (max-width: 600px) { 
    #toggle {
        display: block;
    }
    .navbar {
        display: none;
        background-color: #FFFFFF;
        height: 400px;
    }
    .container_body1 > .navbar {
        margin: 0 auto;
    }
    .navbar > img{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .nav_link {
        display: block;
    }
    .navbar > .nav_link > li {
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
    .link_eng {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 30px;
    }
    .link_eng >li:nth-child(2) { 
        margin-left: -20px;
    }
    .left, .right{
        float: none;
        width: 100%;
    }
    .container_body1 {
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        width: 100%;
        /* display: flex;
        justify-content: center */
    }
    .content_nav {
        max-width: 100%;
        display: table;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        margin: auto;
    }
    .content_nav_text {
        display: table;
        text-align: center;
        margin: 0 auto;
        /* justify-content: center; */
    }
    .content_nav_text > h2:first-child {
        font-size: 45px;
        font-weight: 600;
    }
    .content_nav_text > h2:nth-child(3) {
        font-size: 45px;
        font-weight: 600;
        margin-top: -30px;
    }
    .content_nav_text > h2:nth-child(5) {
        font-size: 35px;
        font-size: 45px;
    }
    .content_nav_text > p:nth-child(6) {
        font-size: 14px;
        font-weight: 600;
    }
    .content_nav_amount {
        text-align: center;
       display: flex;
       justify-content: center;

    }
    .content_nav_amount1 > img{
        width: 70px;
    }
    .content_nav_amount1 >p {
        margin-top: 5px;
        font-size: 15px;
    }
    .content_nav_amount2 > img{
        width: 70px;
    }
    .content_nav_amount2 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_amount3 > img{
        width: 70px;
    }
    .content_nav_amount3 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_img > img{
        width: 276px;
        margin-top: 10px;
    }
    .search {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 370px;
        width: 100%;
        margin-top: 50px;
    }

    .search_price {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .search_price > h2 {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin:  auto;
        display: inline-block;
        width: 90%;
        /* margin-left: -31%; */
    }
    .select{
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;
        
    }
    #author_id {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
    .select {
        padding-right: none;
    }
    .search_price_button {
        width: 100%;
    }
    .fetures {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -50px;
        display: block;
    }
    .fetures >.container_body2 {
        display: block;
        justify-content: center;
        text-align: center;
        clear: both;
        margin: 0 auto;
        width: 100%;
    }
    .wrap {
        align-items: center;
        text-align: center;
        justify-content: center;
        clear: both;
        margin: 0;
        clear: both;
        margin-bottom: 30px;
    }
    .title_fetures {
        text-align: center;
        display: inline-block;
        align-items: center;
        justify-content: center;
        /* margin-left: -40%; */
        clear: both;
        margin:  auto;
    }
    .reason_1 {
        display: flex;
        justify-content: space-around;
    }
    .reason_1 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail1 {
        margin-left: 30px;
    }
    .reson_detail1 > h3 {
        font-size: 30px;
    }
    .reson_detail1 > p {
        font-size: 20px;
    }
    /* //////// */
    .reason_2 {
        display: flex;
        justify-content: space-around;
    }
    .reason_2 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail2 {
        margin-left: 30px;
    }
    .reson_detail2 > h3 {
        font-size: 30px;
    }
    .reson_detail2 > p {
        font-size: 20px;
    }
    /* ////////////////// */
    .reason_3 {
        display: flex;
        justify-content: space-around;
    }
    .reason_3 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail3 {
        margin-left: 30px;
    }
    .reson_detail3 > h3 {
        font-size: 30px;
    }
    .reson_detail3 > p {
        font-size: 20px;
    }
    .img_fetures {
        display: block;
        width: 100%;
    }
    .popular {
        display: block;
        width: 100%;
        height: 100px;
        color: #FFFFFF;
        margin-bottom: 0;
        padding-top: 50px;
        padding-bottom: 200px;
    }
    .popular > .container_body3 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    } 

    .popular > .container_body3>h1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .popular > .container_body3>p {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .group_arrow {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }
    .group_arrow_before {
        margin-right: 20px;

    }
    /* ///popularPrice */
    .popular_price {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .popular_price > .container_body4 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    } 
    .popular_content1 {
        padding-bottom: 40px;
    }
    
    .popular_content1 > a > img {
        text-align: center;
        display: block;
        justify-content: center;
        margin: 0 auto;
    }

    .popular_content1 > h4 > a {
        text-align: center;
        display: block;
        justify-content: center;
    }
    .popular_content1 > a {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .room {
        display: flex;
        justify-content: space-around;
    }
    .security_paragraph {
        margin-top: -10px;
    }
    .container_body5 {
        width: 100%;
        margin: 0 auto;
    }

    .container_body6 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .container_body6 > .security_extra_detail > button {
        margin-bottom: 50px;
    }

    .review {
        margin-bottom: 100px;
    }
    .container_body7 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-slider {
        display: block;
    }
    .image-item1 {
        display: block;
        margin-bottom: 50px;
    }
    .address {
        margin-top: -50px;
    }
    .container_body8 {
        width: 100%;
        margin: 0 auto;
    }
    .address_submit_group > form > input {
        width: 70%;
    }
    .address_submit_group > form > button {
        width: 20%;
        border: none;
    }
    .footer {
        height: 500px;
    }
    .container_body9 {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .logo {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .service {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .service > .method {
        display: inline-block;
        display: table-column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 50px;
        width: 100%;
    }
    .service > .icons > ul  {
        margin-top: 200px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;

    }
    .service > .icons > ul > li {
        text-align: center;
    }
}
/* /////////////////////end600////////////////// */

/* /////////1024//////////////////////////////////////////// */
@media only screen and (max-width: 1024px) {
    #toggle {
        display: block;
    }
    .navbar {
        display: none;
        background-color: #FFFFFF;
        height: 400px;
    }
    .container_body1 > .navbar {
        margin: 0 auto;
    }
    .navbar > img{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .nav_link {
        display: block;
    }
    .navbar > .nav_link > li {
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
    .link_eng {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 30px;
    }
    .link_eng >li:nth-child(2) { 
        margin-left: -20px;
    }
    .left, .right{
        float: none;
        width: 100%;
    }
    .container_body1 {
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        width: 100%;
        /* display: flex;
        justify-content: center */
    }
    .content_nav {
        width: 100%;
    }
    .content_nav > .content_nav_text > h2 {
        font-size: 60px;
    }
    .content_nav > .content_nav_text > p {
        font-size: 18px;
    }
    .content_nav > .content_nav_text > .login {
        display: block;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .search {
        width: 100%;
    }
    .search_price {
       text-align: center;
       margin-top: 20px;
    }
    .search_price > h2 {
        margin: 0 auto;
    }
    .container_body2 {
        width: 100%;
        margin: 0 auto;
    }
    .wrap > .title_fetures {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .reason_1 > .reson_detail1 > p {
        font-size: 15px;
    }
    .reason_1 > img {
        display: block;
        align-self: center;
    }
    .reason_2 > img {
        display: block;
        align-self: center;
    }
    .reason_3 > img {
        display: block;
        align-self: center;
    }
    .reason_2 > .reson_detail2 > p {
        font-size: 15px;
    }
    .reason_3 > .reson_detail3 > p {
        font-size: 15px;
    }
    .img_fetures > .img_Fetures_4866 {
        left: -150px
    }
    .container_body4 {
        width: 100%;
        margin: 0 auto;
    }
    .container_body6 {
        width: 100%;
        margin: 0 auto;
    }
    .security_extra_detail > img {
        text-align: center;
        margin: 0 auto;
        display: block;
        justify-content: center;
    }
    .security_extra_detail > h1 {
        text-align: center;
        margin: 0 auto;
        display: block;
        justify-content: center;
        margin-top: 30px;
    }
    .security_extra_detail > p {
        text-align: center;
        margin: 0 auto;
        display: block;
        justify-content: center;
    }
    .security_extra_detail > button {
        text-align: center;
        margin: 0 auto;
        display: block;
        justify-content: center;
        margin-top: 20px;
    }
    .container_body7  > h1{
        text-align: center;
        display: block;
        justify-content: center;
    }
    .container_body7 {
        width: 100%;
        margin: 0 auto;
    }
    /* .container_body7 > .image-slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
    } */

    .image-item1 > img {
        width: 200px;
    }
    .container_body8 {
        width: 100%;
        margin: 0 auto;
    } 
    .container_body9  {

        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) { 
    #toggle {
        display: block;
    }
    .navbar {
        display: none;
        background-color: #FFFFFF;
        height: 400px;
    }
    .container_body1 > .navbar {
        margin: 0 auto;
    }
    .navbar > img{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .nav_link {
        display: block;
    }
    .navbar > .nav_link > li {
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
    .link_eng {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 30px;
    }
    .link_eng >li:nth-child(2) { 
        margin-left: -20px;
    }
    .left, .right{
        float: none;
        width: 100%;
    }
    .container_body1 {
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        width: 100%;
        /* display: flex;
        justify-content: center */
    }
    .content_nav {
        max-width: 100%;
        display: table;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        margin: auto;
    }
    .content_nav_text {
        display: table;
        text-align: center;
        margin: 0 auto;
        /* justify-content: center; */
    }
    .content_nav_text > h2:first-child {
        font-size: 45px;
        font-weight: 600;
    }
    .content_nav_text > h2:nth-child(3) {
        font-size: 45px;
        font-weight: 600;
        margin-top: -30px;
    }
    .content_nav_text > h2:nth-child(5) {
        font-size: 35px;
        font-size: 45px;
    }
    .content_nav_text > p:nth-child(6) {
        font-size: 14px;
        font-weight: 600;
    }
    .content_nav_amount {
        text-align: center;
       display: flex;
       justify-content: center;

    }
    .content_nav_amount1 > img{
        width: 70px;
    }
    .content_nav_amount1 >p {
        margin-top: 5px;
        font-size: 15px;
    }
    .content_nav_amount2 > img{
        width: 70px;
    }
    .content_nav_amount2 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_amount3 > img{
        width: 70px;
    }
    .content_nav_amount3 >p {
        font-size: 15px;
        margin-top: 5px;
    }
    .content_nav_img > img{
        width: 276px;
        margin-top: 10px;
    }
    .search {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 370px;
        width: 100%;
        margin-top: 50px;
    }

    .search_price {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .search_price > h2 {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin:  auto;
        display: inline-block;
        width: 90%;
        /* margin-left: -31%; */
    }
    .select{
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;
        
    }
    #author_id {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
    .select {
        padding-right: none;
    }
    .search_price_button {
        width: 100%;
    }
    .fetures {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -50px;
        display: block;
    }
    .fetures >.container_body2 {
        display: block;
        justify-content: center;
        text-align: center;
        clear: both;
        margin: 0 auto;
        width: 100%;
    }
    .wrap {
        align-items: center;
        text-align: center;
        justify-content: center;
        clear: both;
        margin: 0;
        clear: both;
        margin-bottom: 30px;
    }
    .title_fetures {
        text-align: center;
        display: inline-block;
        align-items: center;
        justify-content: center;
        /* margin-left: -40%; */
        clear: both;
        margin:  auto;
    }
    .reason_1 {
        display: flex;
        justify-content: space-around;
    }
    .reason_1 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail1 {
        margin-left: 30px;
    }
    .reson_detail1 > h3 {
        font-size: 30px;
    }
    .reson_detail1 > p {
        font-size: 20px;
    }
    /* //////// */
    .reason_2 {
        display: flex;
        justify-content: space-around;
    }
    .reason_2 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail2 {
        margin-left: 30px;
    }
    .reson_detail2 > h3 {
        font-size: 30px;
    }
    .reson_detail2 > p {
        font-size: 20px;
    }
    /* ////////////////// */
    .reason_3 {
        display: flex;
        justify-content: space-around;
    }
    .reason_3 > img {
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

    }
    .reson_detail3 {
        margin-left: 30px;
    }
    .reson_detail3 > h3 {
        font-size: 30px;
    }
    .reson_detail3 > p {
        font-size: 20px;
    }
    .img_fetures {
        display: block;
        width: 100%;
    }
    .popular {
        display: block;
        width: 100%;
        height: 100px;
        color: #FFFFFF;
        margin-bottom: 0;
        padding-top: 50px;
        padding-bottom: 200px;
    }
    .popular > .container_body3 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    } 

    .popular > .container_body3>h1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .popular > .container_body3>p {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .group_arrow {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }
    .group_arrow_before {
        margin-right: 20px;

    }
    /* ///popularPrice */
    .popular_price {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .popular_price > .container_body4 {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    } 
    .popular_content1 {
        padding-bottom: 40px;
    }
    
    .popular_content1 > a > img {
        text-align: center;
        display: block;
        justify-content: center;
        margin: 0 auto;
    }

    .popular_content1 > h4 > a {
        text-align: center;
        display: block;
        justify-content: center;
    }
    .popular_content1 > a {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .room {
        display: flex;
        justify-content: space-around;
    }
    .security_paragraph {
        margin-top: -10px;
    }
    .container_body5 {
        width: 100%;
        margin: 0 auto;
    }

    .container_body6 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .container_body6 > .security_extra_detail > button {
        margin-bottom: 50px;
    }

    .review {
        margin-bottom: 100px;
    }
    .container_body7 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-slider {
        display: block;
    }
    .image-item1 {
        display: block;
        margin-bottom: 50px;
    }
    .address {
        margin-top: -50px;
    }
    .container_body8 {
        width: 100%;
        margin: 0 auto;
    }
    .address_submit_group > form > input {
        width: 70%;
    }
    .address_submit_group > form > button {
        width: 20%;
        border: none;
    }
    .footer {
        height: 500px;
    }
    .container_body9 {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .logo {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .service {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .service > .method {
        display: inline-block;
        display: table-column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 50px;
        width: 100%;
    }
    .service > .icons > ul  {
        margin-top: 200px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;

    }
    .service > .icons > ul > li {
        text-align: center;
    }
}